@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0b0a0a;
  color: white;
}

.linear-gradient {
  background: linear-gradient(
    225deg,
    #000000 0%,
    #30303040 55.41%,
    #604f9368 100%
  );
}

.section2 {
  background: linear-gradient(
    224deg,
    #100b0b00 0%,
    #62557a4f 48%,
    #100c0c00 100%
  );
}

.blob {
  width: 794px;
  height: 756px;
  flex-shrink: 0;
  fill: rgba(96, 79, 147, 0.4);
  filter: blur(250px);
}
